

.open-sans-normal{
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.header{
  background-image: url(../images/developer.png), url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: top left, right bottom;
}
.secondary-bg{
  background-color:#FFF8F3 ;

}
.text-center{
  text-align: center;
}
        /* for nav */

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 200px;

}

.nav-title{
font-weight: 800;
font-size: 45px;

}
.text-primary{
  color: #FD6E0A;
}
.dark-2{
  color: #474747;
}

nav ul{
  display: flex;
  align-items: center;
}
nav ul li{
     list-style: none;
     margin-right: 50px;

}
nav li a{
  text-decoration: none;
}
.btn-design{
  background-color: #FD6E0A;
  padding: 18px 35px ;
  border: none;
  font-weight: bold;
  font-size: 20px;
  color: white;
  border-radius: 5px;
}
.section-title{
  font-size: 35px;
  font-weight: bold;
  color: #181818;
}
.section-description{
   font-size: 18px;
   font-weight: normal;
   color: #757575;
}
 /* benner style */
 .banner{
  display: flex;
  justify-content: space-between;
  margin: 0 32px 0 200px;
 }
 .banner-content{
  max-width: 580px: 
 }
 .banner-greetings{
  font-style: ;
  font-size: 45px;
  font-weight: 600;
 }
 .banner-title{
  font-weight: bold;
  font-size: 85px;

 }
 .banner-discription{
  font-weight: normal;
  font-size: 18px;
  color: #757575;
 }
 .banner-profile-picture{
  width: 580px;
 }
 /* main style */
 main{
 max width: 1140px;
 margin: 0 auto;

 }
 /* about style */
 .about{
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
  margin-top: 130px;
  margin-left: 230px;
  margin-right: 230px;
 }
 .about-items{
  display: flex;
  justify-content: space-around;
 }
 .item-description{
  font-weight: 600;

 }
 /* skills section */
 .skills-container{
  display: flex;
  gap: 24px;
 }
.skill{
  padding:32px ;
  border-radius: 5px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
/* resume section style */
.resume{
  padding: 50px 230px 80px 230px;
}
.resume-title{
  text-align: center;
  font-size: 35px;
  font-weight: bold;
}
.resume-container{

  display:flex ;
  gap: 24px;
}
.experience-description {
  color: #757575;
}
.experience-subtitle{
  color: #757575;
  font-size: 20px;
}
.experience-title{
  color: #474747;
  font-size: 25px;
  font-weight: bold;
}
.resume-column-title{
  color: #474747;
  font-size: 30px;
  font-weight: bold;
}
.text-center{
  margin-top: 50px;
}
 /* footer-section */
 footer {
  padding: 130px 230px;
  display: flex;
  gap: 100px;

 }
 .footer-column{
  width: 50%;
 }
footer input[type="text"], input[type="email"],footer textarea{
height: 64px;
width: 100%;
border-radius: 5px;
background-color: white;
display: block;
padding: 10px 20px;
margin-bottom: 24px;
border: none;
}
 